.tasks {
  width: 100%;
  max-width: 736px;
  margin: 0 auto;
  margin-top: 90px;
  padding: 0 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.header > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header p {
  color: #4ea8de;
  font-size: 14px;
  font-weight: 700;
}

.textPurple {
  color: #8284fa !important;
}

.header span {
  background: #333;
  color: #d9d9d9;
  padding: 3px 9px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
