.header {
  background: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  position: relative;
}

.newTaskForm {
  position: absolute;
  height: 54px;
  bottom: -27px;
  width: 100%;
  max-width: 736px;
  display: flex;
  gap: 8px;
  padding: 0 1rem;
}

.newTaskForm input {
  height: 100%;
  flex: 1;
  color: #fff;
  background: #262626;
  border: 1px solid #0d0d0d;
  border-radius: 8px;
  padding: 0 16px;
  font-size: 16px;
}

.newTaskForm input::placeholder {
  color: #808080;
}

.newTaskForm button {
  height: 100%;
  padding: 0 16px;
  background: #1e6f9f;
  color: #fff;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  font-size: 14px;
}
